<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>注册</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
// TODO 前台增加对邮箱格式的判断
$(document).ready(function(){
	$("#reg_bt").click(function(){
		if($("#mail").val() == ""){
			alert("请填写邮箱地址");
		}else{
			// 邮件发送按钮只能点一次
			$("#reg_bt").attr("disabled","true");
			$.post("/register",{
				mailaddress:$("#mail").val()
			},
			function(data){
				if(data == 'fail'){
					$("#reg_bt").removeAttr("disabled");
					alert("邮件发送状态" + data);
				}
				else if(data == 'success'){
					window.location.href = "/login";
				}
			});	
		}
	});
});
</script>
</head>
<style>
div{
	text-align: center;
}
</style>
<body>
<div class="container">
	<br>邮箱：<br>
	<input id="mail" type="email" name="mailaddress" size = 20 placeholder="你的邮箱"><br><br>
	<button id="reg_bt" type="button" class="btn btn-primary">注册</button>
</div>
</body>
</html>